<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://opengraph.org/schema/">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
		<meta property="og:title" content="">
		<meta property="fb:page_id" content="43929265776">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="referrer" content="origin">        
		
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<style>
			@font-face {
			    font-family: 'Moderat_ss02';
			    src: url('/js/global/fonts/moderat_stylistic_set_02_regular-webfont.woff2') format('woff2'),
			         url('/js/global/fonts/moderat_stylistic_set_02_regular-webfont.woff') format('woff');
			}
			@font-face {
			  font-family: AvenirNext;
			  src: url(/js/global/fonts/AvenirNextLTPro-Regular.otf);
			} 			
			.login2
			{
			    width: 200px;
			    height: 40px;
			    border-radius: 9px;
			    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
			    background-color: #ff0086;                
			} 
			.textLogin2
			{
			    width: 76.5px;
			    height: 24px;
			    font-family: AvenirNext !important;
			    font-size: 15px;
			    font-weight: 600;
			    font-stretch: normal;
			    font-style: normal;
			    line-height: 1.6;
			    letter-spacing: 0.69px;
			    text-align: center;
			    color: #ffffff;
			    background:transparent;             
			}
			.textSpan
			{
			    font-family: AvenirNext !important;
			    font-size: 17px;
			    font-weight: 550;
			    font-stretch: normal;
			    font-style: normal;
			    line-height: 1.41;
			    letter-spacing: 0.78px;
			    text-align:justify;              
			}
			#verifyLink
			{
			    font-family: AvenirNext !important;
			    font-size: 13px;
			    font-stretch: normal;
			    font-style: normal;
			    line-height: 1.41;
			    letter-spacing: 0.78px;               
			}
			@media only screen and (min-width:465px){
				#container{
					margin:0px 25%;
					padding: 30px;
				}
			}
			@media only screen and (max-width:464px){
				#container{
					margin:0px 10px;
					padding: 10px;
				}
			}															
		</style>		
	</head>
	<body style="background: #FAFAFA !important;">
		<div id="container" style="background:#fff !important;">
			<div class="panel-header" align="center">
				<svg width="139px" height="50px" viewBox="0 0 139 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				    <!-- Generator: Sketch 61 (89581) - https://sketch.com -->
				    <g id="USER" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
				        <g id="LANDING" transform="translate(-118.000000, -223.000000)" fill="#FF0086">
				            <g id="Logo" transform="translate(118.000000, 223.000000)">
				                <path d="M13.0614893,13.8235864 C16.6592682,13.8235864 19.7359608,15.1063339 22.2909147,17.6712558 C24.8454609,20.2367508 26.1233864,23.3259566 26.1233864,26.9385457 C26.1233864,30.5510529 24.8454609,33.6403406 22.2909147,36.2057537 C19.7359608,38.7712488 16.6592682,40.0534231 13.0614893,40.0534231 C9.76559797,40.0534231 7.26389436,39.2945501 5.5558892,37.7767223 L5.5558892,46.6567152 C5.5558892,47.4001127 5.28384789,48.0454986 4.73927599,48.5922998 C4.19519338,49.1386097 3.5524387,49.4117647 2.81207208,49.4117647 L2.74381712,49.4117647 C2.00287967,49.4117647 1.36069582,49.1386097 0.816123925,48.5922998 C0.272041308,48.0454986 0,47.4001127 0,46.6567152 L0,26.8930199 C0.0149231293,23.2649553 1.29994319,20.1836919 3.8548971,17.6487385 C6.39492788,15.0983096 9.46362886,13.8235864 13.0614893,13.8235864 Z M33.6972333,4.48778662 C34.4375999,4.48778662 35.0803546,4.75389983 35.6249265,5.28473425 C36.1690091,5.83153547 36.4410504,6.48388129 36.4410504,7.24283614 L36.4410504,37.2983982 C36.4410504,38.0728285 36.1690091,38.7182145 35.6249265,39.2339828 C35.0803546,39.7802927 34.4375999,40.0534477 33.6972333,40.0534477 L33.6294676,40.0534477 C32.8885302,40.0534477 32.2458571,39.7802927 31.7017744,39.2339828 C31.1576918,38.7182145 30.8856505,38.0728285 30.8856505,37.2983982 L30.8856505,7.24283614 C30.8856505,6.48388129 31.1576918,5.83153547 31.7017744,5.28473425 C32.2458571,4.75389983 32.8885302,4.48778662 33.6294676,4.48778662 L33.6972333,4.48778662 Z M52.8587434,13.8235618 C55.8670995,13.8235618 58.4449681,14.9011975 60.5914523,17.0564688 C62.737855,19.2121495 63.8115864,21.8081042 63.8115864,24.8438418 L63.8115864,37.2984309 C63.8115864,38.0728613 63.5395451,38.7182472 62.9954625,39.2340155 C62.4813076,39.7803255 61.8390423,40.0533986 61.0677693,40.0533986 L61.022429,40.0533986 C60.2660792,40.0533986 59.616393,39.7803255 59.0723104,39.2340155 C58.5282278,38.7182472 58.2561865,38.0728613 58.2561865,37.2984309 L58.2561865,24.8438418 C58.2561865,23.3409981 57.7345293,22.0582506 56.691215,20.9955992 C55.632896,19.9335209 54.3554599,19.4017858 52.8587434,19.4017858 C51.3470222,19.4017858 50.0615944,19.9335209 49.0037647,20.9955992 C47.9604504,22.0582506 47.4392826,23.3409981 47.4392826,24.8438418 L47.4392826,37.2984309 C47.4392826,38.0728613 47.1672413,38.7182472 46.6226694,39.2340155 C46.0785868,39.7803255 45.4358321,40.0533986 44.6954655,40.0533986 L44.6272105,40.0533986 C43.8863546,40.0533986 43.2440892,39.7803255 42.6995173,39.2340155 C42.1554347,38.7182472 41.8833934,38.0728613 41.8833934,37.2984309 L41.8833934,24.8438418 C41.8833934,21.8081042 42.9565539,19.2121495 45.1035274,17.0564688 C47.2499301,14.9011975 49.8348118,13.8235618 52.8587434,13.8235618 Z M91.0461098,4.48781938 C91.7864764,4.48781938 92.4292311,4.75393258 92.9733137,5.28476701 C93.5173964,5.83156823 93.7899269,6.48391404 93.7899269,7.24286889 L93.7899269,27.0065642 C93.7745145,30.6196446 92.4894945,33.6933749 89.9345406,36.2283283 C87.3795051,38.7787573 84.3108041,40.0534804 80.7280299,40.0534804 C77.1301694,40.0534804 74.0534768,38.7712242 71.4990122,36.2057292 C68.9440583,33.640316 67.6665406,30.5511102 67.6665406,26.9385211 C67.6665406,23.3260139 68.9440583,20.2367262 71.4990122,17.6712312 C74.0534768,15.1063093 77.1301694,13.8235618 80.7280299,13.8235618 C84.0084273,13.8235618 86.5106202,14.5825167 88.2340377,16.1003445 L88.2340377,7.24286889 C88.2340377,6.48391404 88.5060791,5.83156823 89.0500801,5.28476701 C89.5947336,4.75393258 90.236999,4.48781938 90.9778549,4.48781938 L91.0461098,4.48781938 Z M101.13713,13.8235946 C101.877496,13.8235946 102.52017,14.0967495 103.064252,14.6430595 C103.608824,15.1893694 103.880865,15.8422065 103.880865,16.6011613 L103.880865,29.0562418 C103.880865,30.5585941 104.402523,31.8418329 105.445429,32.9039112 C106.503667,33.9514965 107.788605,34.4752892 109.300245,34.4752892 C110.797043,34.4752892 112.07456,33.9514965 113.132798,32.9039112 C114.176112,31.8418329 114.697769,30.5585941 114.697769,29.0562418 L114.697769,16.6011613 C114.697769,15.8422065 114.969729,15.1893694 115.513893,14.6430595 C116.057976,14.0967495 116.707662,13.8235946 117.464012,13.8235946 L117.509352,13.8235946 C118.280625,13.8235946 118.922891,14.0967495 119.437127,14.6430595 C119.981209,15.1893694 120.253169,15.8422065 120.253169,16.6011613 L120.253169,29.0562418 C120.253169,32.0769132 119.179438,34.6649255 117.033035,36.820115 C114.886633,38.9758775 112.308682,40.0534313 109.300245,40.0534313 C106.276965,40.0534313 103.691594,38.9758775 101.54511,36.820115 C99.3981368,34.6649255 98.3249762,32.0769132 98.3249762,29.0562418 L98.3249762,16.6011613 C98.3249762,15.8422065 98.5970175,15.1893694 99.1415894,14.6430595 C99.6856721,14.0967495 100.327937,13.8235946 101.068793,13.8235946 L101.13713,13.8235946 Z M80.7280299,19.4472298 C78.6418906,19.4472298 76.8651412,20.1837492 75.3992495,21.6560512 C73.9478732,23.1283532 73.2224298,24.9118849 73.2224298,27.0065642 C73.2224298,29.0867507 73.9478732,30.8627492 75.3992495,32.3346418 C76.8651412,33.8074351 78.6418906,34.5433814 80.7280299,34.5433814 C82.7991645,34.5433814 84.5680039,33.8074351 86.0343032,32.3346418 C87.5006026,30.8627492 88.2340377,29.0867507 88.2340377,27.0065642 C88.2340377,24.9118849 87.5006026,23.1283532 86.0343032,21.6560512 C84.5680039,20.1837492 82.7991645,19.4472298 80.7280299,19.4472298 Z M13.0614893,19.3562027 C10.97535,19.3562027 9.19900834,20.0851891 7.73270895,21.5420156 C6.28133269,23.0148089 5.5558892,24.7983405 5.5558892,26.8930199 C5.5558892,28.972715 6.28133269,30.7487136 7.73270895,32.2210156 C9.19900834,33.6933176 10.97535,34.429837 13.0614893,34.429837 C15.132624,34.429837 16.9014633,33.6933176 18.3677627,32.2210156 C19.8340621,30.7487136 20.5674972,28.972715 20.5674972,26.8930199 C20.5674972,24.7983405 19.8340621,23.0148089 18.3677627,21.5420156 C16.9168757,20.0851891 15.1481179,19.3562027 13.0614893,19.3562027 Z M127.946026,14.1336205 L133.723642,15.0126948 C134.837739,15.1821066 135.604527,16.2267442 135.435643,17.345566 C135.282171,18.3605626 134.412226,19.0880752 133.420205,19.0880752 C133.318597,19.0880752 133.21544,19.0804603 133.111794,19.0646572 L127.334178,18.1856649 C126.220081,18.0162531 125.453293,16.9716155 125.622177,15.8527118 C125.791061,14.7337263 126.829972,13.9637175 127.946026,14.1336205 Z M138.598637,2.83321755 C139.290157,3.90020867 138.989819,5.32829494 137.927015,6.02289134 L128.190284,12.3875003 C127.803669,12.6402669 127.369268,12.7611233 126.939759,12.7611233 C126.189362,12.7611233 125.453399,12.3920038 125.013533,11.7132923 C124.321932,10.6463012 124.622352,9.21821491 125.685156,8.52361851 L135.421886,2.15900952 C136.484608,1.46474064 137.907036,1.76598079 138.598637,2.83321755 Z M122.906273,0.0234715366 C124.020371,0.192965176 124.787158,1.23760279 124.618193,2.35642457 L123.742866,8.15785615 C123.589394,9.17285285 122.719449,9.9003654 121.727428,9.9003654 C121.62582,9.9003654 121.522663,9.89275047 121.419016,9.87694744 C120.305001,9.70753568 119.538131,8.66289807 119.707097,7.5439944 L120.582424,1.74264471 C120.751879,0.623577279 121.790219,-0.146349627 122.906273,0.0234715366 Z" id="Combined-Shape"></path>
				            </g>
				        </g>
				    </g>
				</svg> 		
			</div>
			<div class="panel-body">
				<div style="margin-top:20px">
					<span class="textSpan">Hola!</span>
				</div>
				<div style="margin-top:10px">
					<span class="textSpan">
						Tu point está siendo atendido por <%=data.responsable%> y se encuentra en estado "En Proceso"
					</span>
				</div>
				<div style="margin-top:30px">
					<span class="textSpan">
						Información del Point: 
					</span>
					<br>
					<span class="textSpan">
						Asunto: <%=data.asunto%><br>
						Descripción: <%=data.descripcion%><br>
						Creado por: <%=data.creadoPor%><br>
					</span>					
				</div>
				<div style="margin-top:10px">
					<span class="textSpan">
						Si tienes alguna duda sobre el estado de tu point puedes escribirle al revisor asignado <%=data.responsable%>
					</span>
				</div>				
				<div style="margin-top:30px">
					<br><br>
					<span id="verifyLink" style="color:grey;font-size: 17px !important;">
						Equipo ApoloDesk
					</span>
				</div>
			</div>		
		</div>
		<div align="center" style="margin-top: 30px;">
			<svg width="49px" height="54px" viewBox="0 0 49 54" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
			    <!-- Generator: Sketch 61 (89581) - https://sketch.com -->
			    <g id="USER" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
			        <g id="Desktop-Register" transform="translate(-41.000000, -46.000000)">
			            <g id="P-logo" transform="translate(41.000000, 46.000000)">
			                <g id="Group">
			                    <path d="M15.6516907,10.6438652 C19.9629389,10.6438652 23.6497651,12.1809922 26.7113875,15.2545593 C29.7725213,18.3288132 31.30387,22.0306341 31.30387,26.3596295 C31.30387,30.6885267 29.7725213,34.3904457 26.7113875,37.4646015 C23.6497651,40.5388554 19.9629389,42.0752956 15.6516907,42.0752956 C11.7021968,42.0752956 8.70438468,41.1659318 6.65766798,39.3471062 L6.65766798,49.9880751 C6.65766798,50.8788944 6.33167863,51.6522657 5.67911362,52.3075021 C5.02713492,52.9621498 4.25691668,53.2894737 3.36972924,53.2894737 L3.28793874,53.2894737 C2.40006727,53.2894737 1.63053306,52.9621498 0.977968049,52.3075021 C0.32598935,51.6522657 -1.72306613e-13,50.8788944 -1.72306613e-13,49.9880751 L-1.72306613e-13,26.3050755 C0.0178825093,21.9575357 1.55773268,18.2652323 4.61935508,15.2275767 C7.66309496,12.1713766 11.3403447,10.6438652 15.6516907,10.6438652 Z M15.6516907,17.2736451 C13.1518527,17.2736451 11.0232478,18.1471956 9.26616909,19.8929228 C7.52697291,21.6577832 6.65766798,23.7950039 6.65766798,26.3050755 C6.65766798,28.7971914 7.52697291,30.9253852 9.26616909,32.6896568 C11.0232478,34.4539285 13.1518527,35.3365059 15.6516907,35.3365059 C18.1335484,35.3365059 20.2531632,34.4539285 22.0102419,32.6896568 C23.7673206,30.9253852 24.646202,28.7971914 24.646202,26.3050755 C24.646202,23.7950039 23.7673206,21.6577832 22.0102419,19.8929228 C20.2716321,18.1471956 18.152115,17.2736451 15.6516907,17.2736451 Z M35.6234654,16.9364344 L42.5468303,17.9898363 C43.8818622,18.1928439 44.8007105,19.4446417 44.5983352,20.7853351 C44.4144288,22.0016141 43.3719664,22.8733984 42.1832193,22.8733984 C42.0614619,22.8733984 41.9378478,22.8642733 41.8136474,22.8453364 L34.8902825,21.7920326 C33.5552506,21.5890251 32.6364023,20.3372272 32.8387776,18.9964357 C33.0411529,17.6555461 34.2860882,16.7328382 35.6234654,16.9364344 Z M48.388577,3.39506802 C49.217231,4.67365231 48.8573333,6.38493989 47.5837664,7.2172805 L35.916162,14.8440441 C35.452878,15.1469364 34.9323308,15.2917596 34.4176468,15.2917596 C33.51844,15.2917596 32.6365293,14.8494406 32.109435,14.036135 C31.2806833,12.7575508 31.6406788,11.0462632 32.9142457,10.2139226 L44.5818501,2.58715896 C45.8553193,1.75521083 47.5598253,2.11618938 48.388577,3.39506802 Z M29.5842879,0.0281261364 C30.9193198,0.231231767 31.8381681,1.48302966 31.6356951,2.82372305 L30.5867833,9.7756265 C30.4028769,10.9919054 29.3604145,11.8636897 28.1716674,11.8636897 C28.04991,11.8636897 27.9262959,11.8545647 27.8020955,11.8356278 C26.4671613,11.6326203 25.5482153,10.3808224 25.7506883,9.04003089 L26.7996001,2.08822556 C27.0026594,0.74723781 28.2469108,-0.175371969 29.5842879,0.0281261364 Z" id="Combined-Shape" fill="#FF0086"></path>
			                    <path d="M28.1716674,11.8636897 C28.04991,11.8636897 27.9262959,11.8545647 27.8020955,11.8356278 C26.4671613,11.6326203 25.5482153,10.3808224 25.7506883,9.04003089 L26.7996001,2.08822556 C27.0026594,0.74723781 28.2469108,-0.175371969 29.5842879,0.0281261364 C30.9193198,0.231231767 31.8381681,1.48302966 31.6356951,2.82372305 L30.5867833,9.7756265 C30.4028769,10.9919054 29.3604145,11.8636897 28.1716674,11.8636897" id="Fill-11" fill="#0093FF"></path>
			                    <path d="M42.1832193,22.8733984 C42.0614619,22.8733984 41.9378478,22.8642733 41.8136474,22.8453364 L34.8902825,21.7920326 C33.5552506,21.5890251 32.6364023,20.3372272 32.8387776,18.9964357 C33.0411529,17.6555461 34.2860882,16.7328382 35.6234654,16.9364344 L42.5468303,17.9898363 C43.8818622,18.1928439 44.8007105,19.4446417 44.5983352,20.7853351 C44.4144288,22.0016141 43.3719664,22.8733984 42.1832193,22.8733984" id="Fill-14" fill="#FFB100"></path>
			                    <path d="M32.109435,14.036135 C31.2806833,12.7575508 31.6406788,11.0462632 32.9142457,10.2139226 L44.5818501,2.58715896 C45.8553193,1.75521083 47.5598253,2.11618938 48.388577,3.39506802 C49.217231,4.67365231 48.8573333,6.38493989 47.5837664,7.2172805 L35.916162,14.8440441 C35.452878,15.1469364 34.9323308,15.2917596 34.4176468,15.2917596 C33.51844,15.2917596 32.6365293,14.8494406 32.109435,14.036135 Z" id="Fill-16" fill="#4EE993"></path>
			                </g>
			            </g>
			        </g>
			    </g>
			</svg>
			<br><br>
			<span style="color:grey;font-size: 13px !important;font-family: Moderat_ss02 !important;">
				AD © <%=data.year%>. 
			</span>				  			
		</div>		
	</body>
</html>